.container{
    padding-bottom:85px;
}
.contact{
    margin-bottom:74px;
}
.row{
    text-align:center;
}
.error_message{
    list-style: none;
    color: red;
    font-weight: bold;
    text-align:center;
}